{% extends "base.html.twig" %}
{% block content %}
    {{form_start(form)}}
        <h2>Register</h2>
        <div>
             {{form_row(form.username)}}
        </div>
        <div>
            {{form_row(form.plainPassword.first)}}
        </div>
        <div>
            {{form_row(form.plainPassword.second)}}
        </div>
       
        {{form_row(form.submit)}}
   {{form_end(form)}}
{% endblock %}
