<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{# {{ parent() }} #}
			<link href="{{ asset('site.css') }}" rel="stylesheet">
			<link href="{{ asset('responsive.css') }}" rel="stylesheet">
			<link href="{{ asset('homePage.css') }}" rel="stylesheet">
			<link href="{{ asset('details.css') }}" rel="stylesheet">
			<link href="{{ asset('style.css') }}" rel="stylesheet">
			<link href="{{ asset('create-theater.css') }}" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		{% block body %}
			{% block header %}
				<nav>
					<a href={{path("home_auth")}}>Theater</a>
					<ul>
						<li><a href={{path('home')}}>Home</a></li>
						<li><a href={{path('app_logout')}}>Logout</a></li>
						<li><a href={{path('app_login')}}>Login</a></li>
						<li><a href={{path('register')}}>Register</a></li>
					</ul>
				</nav>
			{% endblock %}
			{% block notifications %}
				<section class="notifications error">
					<p>Message...</p>
				</section>
			{% endblock %}
			{% block content %}{% endblock %}
			{% block footer %}
				<footer>
					<div>© 2020
						<a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
					</div>
				</footer>
			{% endblock %}
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
